* {
  font-family: "Karla"
}

h1 {
  font-family: "Rubik";
  font-size: 36px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-size: 18px
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b1b3b6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

.container {
  display: flex;
}
.container-row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: flex-end;

}
.container-show {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-content: center;
}

.card-time {
  flex-grow: 1;
  text-align: top;
  width: 100px;
  margin: 10px;
  padding: 10px;

}

.card-body {
  flex-grow: 1;
  text-align: left;
  width: 370;
  margin: auto;
}

.card-buttons {
  flex-grow: 1;
  text-align: right;
  width: 310px;

}
.container-child {
  flex-grow: 1;
}
.container-child-2 {
  flex-grow: 2;
}

.class-index-container {
  flex-grow: 2;
}
.class-index-calendar {
  flex-grow: 1;
}

.login-container{
  display: flex;
  justify-content: left;
}

.login {
  flex-grow: 1;
}
.login-bg-image {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-overlay {
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding: 24px 64px;
  margin: 100px;
}

.form-field {
  padding: 16px 8px;

}

.ClassCard {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  padding: 24px 64px;
  background-color: white;
  width: 700px;
  height: 131px;
  display: flex;
  flex-direction: row;
}


.card-button {
  /* display: flex; */
  /* flex-direction: row; */
  padding: 16px 32px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-button-2 {
  /* display: flex; */
  /* flex-direction: row; */
  padding: 16px 32px;
  background: #FFFFFF;
}

.player-wrapper {
  /* position: relative; */
  /* flex-grow: 1; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .Head {
  font-family: 'Karla'
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}